.trusted {
  border-top: 1px $gray-200 solid;
  border-bottom: 1px $gray-200 solid;

  .trusted__container {
    max-width: 77rem;
    margin: 0 auto;
    text-align: center;

    h1 {
      font-weight: 700;
      font-size: 1.5rem;
      margin: 2rem 0;
    }
    .trusted-company {
      display: inline-flex;
      justify-content: space-around;
      align-items: center;

      gap: 1rem;
      margin-bottom: 2rem;
      .company-logo {
        height: 2rem;
      }
      .company-name {
        height: 1.5rem;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .trusted {
    border: none;
    .trusted-company {
      width: 20rem;
      flex-wrap: wrap;
    }
  }
}
