// Khai báo biến sass ở đây
$test: #000;
$mycolor: #fff;

$primary: #fff;
$secondary: #000;

$gray-200: #dcdacb;
$gray-400: #989586;
$gray-600: #73726c;
$blue-600: #007791;
$blue-400: #0f7c90;
$blue-200: #f2fbfc;
$yellow-200: #fff7f0;
$yellow-400: #ffe799;
$yellow-600: #eb8a2f;

$font-light: 400;
$font-bold: 700;

$font-sm: 0.85rem;
$font-m: 1.4rem;
